/****************************/
/* Header					*/
/****************************/
header {
	background-color: black;
}
/****************************/
/****************************/

table {
	width: 30%;
	display: block;
	background-color: #666666;
	margin: 20px auto;
	border: 2px solid #eeeeee;
	border-style: inset;
}

body {
	font: 16px sans-serif;
	color: #666666;
	margin: 0 auto;
	background-color: #3c9bc4;
}

#highscore_container {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #3c9bc4;
	z-index: 5000;
	margin: 0 auto;
	display: block;
}

#splash_screen {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #3c9bc4;
	z-index: 10000;
	margin: 0 auto;
	display: block;
}

#title_div {
	margin: 0 auto;
	width: 30%;
	padding-top: 40px;
}

#enter_button_container {
	width: 40%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

#enter_button_div {
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	display: block;
	width: 100%;
}

#enter_button {
	width: 50%;
	font: 16px sans-serif;
	color: #3c9bc4;
	display: inline-block;	
	height: 50px;
    background-color: #eeeeee;
	margin: 0 auto;
	border: 0px;
	padding: 0px;
}

#enter_button:active {
	background-color: #cccccc;
}

/****************************/
/* Game Selection Drop Down */
/****************************/
#game_selection {
	display: block;
	background-color: rgba(0,0,0,.9);
	margin: 0 auto;
	padding: 10px;
	padding-top: 40px;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
}

#image_selection {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0px;
}

#image_chooser_wrapper {
	margin: 0 auto;
	display: block;
	padding: 0px;
	position: relative;
}

#image_chosen_div {
	display: block;
	margin: auto auto;
	border: 3px solid #666666;
	position: relative;
}

#chosen_image {
	
}

#image_select_button_container {
	width: 20%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

#image_select_button_div {
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	display: block;
	width: 100%;
}

#previous_button {
	width: 49%;
}

#next_button {
	width: 49%;
}

#game_selection_form {
	display: block;
	position: relative;
}

#difficulty_selection {
	width: 60%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

#mode_selection {
	width: 60%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

#game_start {
	width: 60%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

.start_class {
	float: left;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	display: block;
	width: 100%;
}

.radio_class {
	float: left;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	display: block;
}

.difficulty_radio {
	width: 25%;
}

.mode_radio {
	width: 50%;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
    display: inline-block;
	width: 100%;
	height: 50px;
    background-color: #8ac3dc;
}

input[type=radio]:checked + label { 
    background-color: #3c9bc4;
	color: #eeeeee;
}

.button_class {
	font: 16px sans-serif;
	color: #666666;
	display: inline-block;	
	height: 50px;
    background-color: #8ac3dc;
	margin: 0 auto;
	border: 0px;
	padding: 0px;
}

.button_class:active {
	background-color: #3c9bc4;
}

#start_button {
	width: 25%;
}

.leaderboard_button_div {
	width: 60%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

.leaderboard_button {
	width: 25%;
}

#highscore_table * {
	margin: 0 auto;
	font: 24px sans-serif;
	color: #eeeeee;
}

#highscore_header {
	text-align: center;
	font: 40px sans-serif;
	color: #8ac3dc;
}

#win_screen {
	display: block;
	background-color: rgba(0,0,0,.9);
	margin: 0 auto;
	padding: 10px;
	padding-top: 40px;
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
}

#win_header {
	text-align: center;
	font: 150px sans-serif;
	color: #8ac3dc;
}

#win_button_container {
	width: 40%;
	margin: 10 auto;
	display: block;
	height: 60px;
}

#win_button_div {
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	display: block;
	width: 100%;
}

#win_button {
	width: 50%;
}


/****************************/
/* Highscores				*/
/****************************/
#highscore_container {
	display: block;
	width: 60%;
	margin: 20 auto;
}

#time_label {
	display: block;
	margin: 10 auto;
	text-align: center;
	color: #8ac3dc;
	font: 24px sans-serif;
}

#time_value {
	display: block;
	margin: 10 auto;
	text-align: center;
	color: #8ac3dc;
	font: 24px sans-serif;
}

#text_input_div input {
	display: block;
	margin: 10 auto;
	font: 24px sans-serif;
}

#submit_score_div {
	width: 40%;
	margin: 10 auto;
	display: block;
}

#submit_score_button {
	width: 50%;
	margin: 0 auto;
	display: block;
}

#return_button_div {
	width: 40%;
	margin: 10 auto;
	display: block;
}

#return_button {
	width: 50%;
	margin: 0 auto;
	display: block;
}
/****************************/
/****************************/

#gameboard {
	border: 5px solid #eeeeee;
	border-style: inset;
	margin: 40 auto;
	position: relative;
	z-index: 10;
	background-color: #666666;
}

.piece_div_class {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	display: inline-block;
	float: left;
	border: 0px solid black;
}

.piece_div_class:active {
	opacity: .75;
}

.piece_image_class {
	overflow: hidden;
	display: block;
}
#timer{
	text-align: center;
	font-weight:bold;
	color: white;
}

.score_class {
	text-align: right;
}